
$theme-color :#BB0000;
$dark-red: #E31F1F;
$red-3: #E20000;
$grey-color: #707070;

$main-font: 'Cairo';

$direction: left;
$opposite-direction: right;

//MediaQuery
// $maxMobile : "(max-width: 767px)";
$maxSmall : "(max-width: 991px)";
// $minSmall : "(min-width: 768px)";
// $minMedium : "(min-width: 992px)";
$maxMedium: "(max-width: 1200px)"
// $minLarge : "(min-width: 1200px)";